/*
 * Global Variables & Mixins
 */

/*
  Viewport
*/
$screen-xl-min: 1440px;
$screen-l-min: 1080px;
$screen-m-min: 800px;
$screen-s-min: 600px;

/*
  Typography
*/
$font-size-xl: 25px;
$font-size-l: 16px;
$font-size-m: 14px;
$font-size-s: 13px;
$font-text: 'Nunito', sans-serif;
$font-numbers: 'Nunito', sans-serif;

/* colors */
$color-general-dark: #22304a;
/* other */
$border-radius-base: 32px;
$border-radius-small: 20px;
$border-radius-x-small: 15px;

$shadow-m: 0px 4px 16px rgba(34, 48, 74, 0.16);

/* media mixins */
$breakpoints: (
  xl: $screen-xl-min,
  l: $screen-l-min,
  m: $screen-m-min,
  s: $screen-s-min,
) !default;

@mixin media($size) {
  @if map-has-key($breakpoints, $size) {
    @media only screen and (max-width: map-get($breakpoints, $size) + px) {
      @content;
    }
  }
}
